<div class="blog-container">
    <header>
        <h1>Sistema de Suporte ao Cliente</h1>
    </header>
 
    <section class="formulario">
        <h3>{{chamadoEditado() ? 'Editando Chamado': 'Novo Chamado'}}</h3>
        <input [(ngModel)]="novoNome" placeholder="Seu nome">
        <textarea [(ngModel)]="novoConteudo" placeholder="Digite sua dúvida/problema"></textarea>
 
        @if (chamadoEditado()){
            <button (click)="salvarEdicao()">Salvar Alterações</button>
            <button (click)="cancelarEdicao()">Cancelar</button>
        }
        @else{
            <button class="btn-abrir" (click)="adicionarChamado()">Abrir</button>
        }
 
    </section>
    <section class="feed">
        @for (chamado of chamados(); track chamado.Nome){
            <article class="chamado-card">
                <div class="chamado-header">
                    <h3>{{chamado.Nome}}</h3>
                    <div class="acoes">
                        <button (click)="editarChamado(chamado)">Editar</button>
                        <button (click)="excluirChamado(chamado)">Resolvido</button>
                    </div>
                </div>
                <p>{{ chamado.conteudo}}</p>
 
            </article>
        }
        @empty{
            <p>Nenhum Chamado publicado</p>
        }
    </section>
    <hr>
    <section class="feed">
        <h2>Últimos Chamados</h2>
        @for (chamado of chamados(); track chamado.Nome){
             <article class="chamado-card">
                <div class="chamado-header">
                    <h3>{{chamado.Nome}}</h3>
                    <div class="acoes">
                        <button (click)="excluirChamado(chamado)">Resolvido</button>
                    </div>
                </div>
                <p>{{ chamado.conteudo}}</p>
            </article>
        }@empty{
            <p>Bom trabalho. Nenhum chamado pendente.</p>
        }
 
    </section>
</div>