body {
    margin: 0;
    padding: 0;
    
}

header{
    background: #35b5e8;
    background: linear-gradient(90deg, rgba(53, 181, 232, 1) 0%, rgba(87, 137, 199, 1) 46%, rgba(9, 39, 84, 1) 100%);
    background-color: transparent;
    color: white;
    padding: 4px 10px;
    text-align: center;
    border-radius: 6px;
    
}

.blog-container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #99DDF7;
    background: linear-gradient(90deg, rgba(53, 181, 232, 1) 0%, rgba(87, 137, 199, 1) 46%, rgba(9, 39, 84, 1) 100%);
    border-radius: 6px;
}

.formulario {
    background-color: antiquewhite;
    background-color: #d5cda3;
    color: #24497c;
    display: flex;
    flex-direction: column;
    padding: 4px 10px;
}

.formulario h3 {
    color:#24497c;
    background-color: transparent;
}

h3 {
    background-color: #24497c;
    color: white;
    padding: 6px 10px;
    /* display: inline-block; */
}

button{
    background-color: #24497c;
    color: white;   
    padding: 4px 6px;
    border-radius: 6px;
}

textarea{
    border: 1px solid #24497c;
    padding: 4px 10px;
    height: 100px;

}

input{
   border: 1px solid #24497c;
    padding: 4px 10px; 
}

.feed{
    background-color: #99DDF7;
    background-color: #F0EAC7;
    background-color: #eeead6;
    border-radius: 6px;
}

.btn-abrir{
    max-width: 80px;
    text-align: center;
}