body {
    margin: 0;
    padding: 0;
}

header{
    background-color: transparent;
    color: var(--cor-secundaria);
    padding: 4px 10px;
    text-align: center;
    border-radius: 6px;
}

.blog-container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-size: 14px;
    font-family: 'Lucida Sans', Verdana;
    background: linear-gradient(90deg, rgba(53, 181, 232, 1) 0%, rgba(87, 137, 199, 1) 46%, rgba(9, 39, 84, 1) 100%);
    border-radius: 6px;
}

.formulario {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    border: 1px solid var(--cor-primaria);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 4px 10px;
    font-family: 'Lucida Sans', Verdana;
}

.formulario h3 {
    background-color: transparent;
    color:var(--cor-primaria);
}

article h3 {
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid var(--cor-primaria);
    font-size: 0.8rem;
    font-weight: 100;
}

button{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);   
    padding: 4px 6px;
    border-radius: 6px;
}

textarea{
    border: 1px solid var(--cor-primaria);
    padding: 4px 10px;
    height: 100px;
    font-family: 'Lucida Sans', Verdana;
    font-size: 0.8rem;
}

input{
    border: 1px solid var(--cor-primaria);
    padding: 4px 10px; 
    font-family: 'Lucida Sans', Verdana;
    font-size: 0.8rem;
}

.feed{
    background-color: var(--cor-fundo);
    border-radius: 6px;
    border: 1px solid var(--cor-primaria);
    margin-top: 10px;
}

.feed h2{
    color:var(--cor-primaria);
    background-color: transparent;
    text-align: center;
}

.btn-abrir{
    max-width: 80px;
    text-align: center;
}
article{
    padding: 4px 10px;
}

.msg {
    color: var(--cor-primaria);
    padding: 6px 10px;
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
}

.msg2{
    font-size: 2.6rem;
}